* {
    background-color: grey;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.text-content-middle {
    display: flex;
    justify-content: center; 
    text-align: center;
}
.text-content-bottom {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    border: 0;
    padding: 0;
}
.buttons:hover {
    color: white;
    cursor:pointer;
}
.buttons:disabled:hover{
    cursor: no-drop;
    color:rgb(100, 100, 100);
}
.begin-btn-bg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%; 
}
.trivia-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 45%;
    border: 2px solid black;
}
.bg-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95vh;
    
    
}
.trivia-questions {
    font-weight:normal;
}

.truthy-btn-div{
    display: flex;
    justify-content: space-evenly;
}
.trivia-end-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 45%;
    border: 2px solid black;

}
.trivia-end-card button {
    border: 2px solid black;
    background-color: white;
    padding: 2.5%;
    width: 30%;
}
.trivia-end-card button:hover {
    transition: .3s;
    border: 2px solid white;
    padding: 2.5%;
    background-color: black;
}
.truthy-btn:hover {
    cursor: pointer;
}
.results {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 60%;
    color: black;
    
}

.results .results-booleans {
    width: 20%;
}
.results-booleans div{
    height: 6vh;
    border: 1px solid white;
    background-color: grey;
    border-left: 0;
    border-right: 0;
}
.results .results-questions {
    width: 80%;
}
.results-questions div{
    height: 6vh;
    border: 1px solid white;
    background-color: grey;
    border-right: 0;
    border-left: 0;
}
.results-questions p, .results-booleans p {
    background-color: grey;
}